
.card-grid-container {
    width: 100%;
    min-height: 100%;
    /* overflow-y: auto; */
    display: grid;
}

.card-row {
    display: inline-flex;
    gap: 4px;
    justify-content: space-evenly;
}