
.card-grid-container {
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
    display: grid;
    /* justify-content: space-evenly; */
    /* display: grid; */
}

.card-row {
    display: inline-flex;
    gap: px;
    justify-content: space-evenly;
}

.card-tile {
    width: 100%;
    min-width: 224px;
    max-width: 224px;
    /* margin: auto; */
}

.card-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 4px;
}

.text-truncate {
    display: block;
    width: 224px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}