
.card-grid-container[b-hoqfvrcn97] {
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
}

.card-row[b-hoqfvrcn97] {
    display: grid;
    gap: 12px;
    justify-content: center;
}

.card-tile[b-hoqfvrcn97] {
    width: 224px;
    min-width: 224px;
    max-width: 224px;
}

.card-image[b-hoqfvrcn97] {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 4px;
}

.text-truncate[b-hoqfvrcn97] {
    display: block;
    width: 100%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}