
.card-grid-container[b-222q0nahjh] {
    width: 100%;
    min-height: 100%;
    /* overflow-y: auto; */
    display: grid;
}

.card-row[b-222q0nahjh] {
    display: inline-flex;
    gap: 4px;
    justify-content: space-evenly;
}