.collection-card[b-ood58trs8c] {
    min-height: 120px;
}

.cover-container[b-ood58trs8c] {
    width: 400px;
    height: 140px;
    max-width: 400px;
    max-height: 140px;
    overflow: hidden;
    border-radius: 2px;
}

.cover-image[b-ood58trs8c] {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 20%;
}
